.arii-hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(137, 2, 62, 0.3), rgba(137, 2, 62, 0.3)),
    url("../../assets/arii-practica.jpg");
  background-size: cover;
  background-position: top center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arii-hero-text {
  text-align: center;
  max-width: 700px;
}
.arii-hero-text h1 {
  font-size: 50px;
  font-weight: 600;
}
.arii-hero-text p {
  max-width: 600px;
  margin: 10px auto 20px;
  line-height: 1.5;
}

/* MEDIA QUERY */

@media (max-width: 850px) {
  .arii-hero-text h1 {
    font-size: 36px;
  }
}

@media (max-width: 650px) {
  .arii-hero-text h1 {
    font-size: 28px;
    max-width: 400px;
    margin: auto;
  }
  .arii-hero-text p {
    font-size: 14px;
    margin: 10px auto 20px;
  }
}
